# Environment variables
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.venv/

# IDEs and OS files
.DS_Store
.vscode/

# Ignore large or sensitive data files
*.csv
!all_symbols.csv
!portfolio_summary.json
!chukul_data.csv
!chukul_indicators.csv
!chukul_fundamental.csv
!chukul_bonus.csv
!chukul_broker_buy.csv
!chukul_broker_sell.csv
!chukul_brokers.csv
!portfolio_data.csv
!live_market_data.csv
