/* 
*****************************************************************
Created By: Mahesh Vishwakarma From Dion Global Solutions Ltd
*****************************************************************
*/

@media only screen and (min-width: 1100px) and (max-width: 1365px) {
	.logo {
		width: 370px !important;
		height: 89px
	}

	nav>ul>li>a {
		font-size: 14.5px
	}

	.Market-Info i {
		font-size: 16px;
	}
}

@media only screen and (min-width: 1000px) and (max-width: 1100px) {
	.logo {
		width: 400px !important;
		height: 75px !important;
	}

	.logo:after {
		display: none
	}

	nav {
		margin: 23px 0 0 0;
	}

	nav>ul>li>a {
		padding: 0px 4px 22px;
		font-size: 13px
	}

	nav>ul>li:last-child {
		margin-right: 85px;
	}

	.Hdropdown {
		top: 50px;
	}

	#mainbody {
		margin-top: 75px;
	}

	.navbar-brand>img {
		width: 150px;
	}

	.navbar-nav {
		margin: 15px 92px 10px 0px;
		padding: 0;
	}

	.navbar-nav>li>a {
		font-size: 12px;
	}

	.top-right-btn {
		padding-top: 17px;
	}

	.top-right-btn li a {
		padding: 9px 4px;
	}

	.top-right-btn li a .TRicon {
		font-size: 18px;
	}

	.avtar span {
		display: none;
	}

	.avtar {
		padding: 9px 8px !important
	}

	.avtar i {
		position: static;
	}

	#margin-tab .nav>li>a {
		padding: 10px 4px;
	}

	#margin-tab .margin-content td {
		padding: 4px 0px;
	}

	.com-mid-tabs li a {
		font-size: 15px;
	}

	.comprangebar>b {
		width: 120px;
	}

	.login-logo img {
		max-width: 90%
	}

	/*15-3-2017*/
	.login-logo {
		width: 460px;
	}

	.log-form_more,
	.toll-free {
		margin-right: 13px;
		width: 83%;
	}

	/*15-3-2017*/
}

@media only screen and (min-width: 240px) and (max-width: 992px) {
	.logo {
		width: 40% !important;
		height: auto !important
	}

	.logo:after {
		display: none
	}

	.prfl_img {
		padding-top: 0
	}

	nav {
		position: absolute;
		margin: 0;
		top: 0;
		right: 0;
	}

	nav>ul {
		overflow: auto;
		position: fixed;
		z-index: 999 !important;
		background: #FFFFFF;
		width: 100%;
		left: 0;
		top: 86px;
		bottom: 0;
		display: none;
	}

	nav>ul>li {
		display: block;
		position: relative;
		border-top: 1px solid #D5D5D5;
		width: 100%
	}

	nav>ul>li:last-child {
		border-bottom: 1px solid #D5D5D5;
	}

	nav>ul>li>a {
		text-align: left !important;
		position: relative;
		font-weight: 600;
		padding: 5px 5px 5px 15px;
		color: #000000;
	}

	nav>ul>li .Hdropdown {
		position: static;
	}

	.hsubnav {
		margin-bottom: 15px;
	}

	.Hdropdown>ul {
		padding: 0;
	}

	.Hdropdown>ul>li ul>li {
		float: none;
		width: 100%;
		margin-right: 0
	}

	.top-right-btn {
		right: 50px;
	}

	#mobnav {
		position: absolute;
		right: 20px;
		top: 8px;
		z-index: 99;
	}

	#mobnav:after {
		content: "\f0c9";
		font-family: 'FontAwesome';
		display: block;
		color: #fff;
		font-size: 23px;
	}

	#mobnav.active:after {
		content: "\f00d";
		color: #fff
	}

	.userbut {
		padding: 10px 20px 10px 30px !important;
	}

	.navbar-nav {
		padding: 10px;
		margin: 0px;
		position: fixed;
		top: 86px;
		width: 100%;
		bottom: 0;
		background: #0094da;
		left: 0;
		overflow-y: scroll
	}

	.Market-Info {
		margin-bottom: 20px;
	}

	.navbar-nav>li>ul {
		position: relative;
		left: 0;
		margin: 0;
		width: 100%;
	}

	.userbut {
		height: 40px;
		padding: 10px 10px 10px 40px;
	}

	.userbut span {
		display: none
	}

	.userd h4 {
		display: block;
		color: #0170ae;
		font-weight: 400;
		font-size: 16px;
	}

	#summery-tab {
		display: none;
	}

	#summery-tab li a.active {
		display: block !important;
	}

	#margin-tab .nav>li>a {
		padding: 10px;
	}

	.grid-stack>.grid-stack-item>.grid-stack-item-content {
		left: 0px !important;
		right: 0px !important;
	}

	.cs-skin-border .cs-options {
		min-width: 150px;
	}

	.gs-w-header>ul>li {
		display: block;
	}

	.Mticker {
		display: none;
	}

	.com-mid-tabs li a {
		font-size: 17px;
	}

	.comprangebar>b {
		width: 150px;
	}

	footer {
		text-align: center !important;
		margin-bottom: 0
	}

	footer .text-right {
		text-align: center
	}

	.toll-free {
		float: left;
		margin-left: 50px;
	}

	.logfoot {
		position: static
	}

	#customDots {
		display: none
	}

	/*15-3-2017*/
	.triangular_shape {
		background: rgba(72, 181, 206, 0.5) !important;
		background-image: none !important;
		z-index: -1;
		position: fixed;
		left: 0;
	}

	.slider-wrap {
		display: none;
	}

	.canmoney-logo_wpr {
		width: 240px;
		margin: 0 auto;
	}

	.canmoney-logo {
		padding: 0px;
		margin: 10px 0 0 0;
		float: none;
		width: 100%;
	}

	.canmoney-logo img {
		display: block;
		margin: auto;
	}

	.log-form_more {
		float: none;
		margin: 1% auto 0 auto;
		width: 65%;
	}

	.toll-free {
		float: none;
		display: inline-block;
		margin: 3% 17.5%;
		width: 65%;
	}

	.login-logo img {
		display: block;
		margin: auto;
	}

	.full_hgt {
		height: auto;
		z-index: inherit
	}

	/*15-3-2017*/
}

@media only screen and (min-width: 240px) and (max-width: 768px) {
	.top-right-btn {
		top: 0px;
		right: 50px;
		padding-top: 20px;
		z-index: 99
	}

	.alertlist {
		min-width: 360px;
		margin-right: -150px;
		right: 0px;
	}

	.alertlist li>small>span {
		padding-left: 0px;
		display: block;
	}

	#mainbody {
		padding-bottom: 0;
		margin-top: 77px;
	}

	nav>ul {
		top: 77px;
	}

	.login-logo {
		width: 100%;
		text-align: center;
		padding: 15px;
		background: #00adee;
		height: 85px;
	}

	.login-logo img {
		max-width: 100%;
		height: 100%
	}

	.login_rgt_bg {
		background: rgba(23, 55, 132, 0.9);
		padding: 0 20px;
		height: 100vh
	}

	.toll-free {
		float: none;
		display: inline-block;
		margin: 20px 0px;
		width: 100%
	}

	.log-form {
		margin: 20px auto 10px !important;
		width: 100% !important
	}

	/*8-3-2017*/

	.mwLg-tabs li {
		margin-right: 0px;
	}

	.tinynav {
		display: block;
	}

	#nav {
		display: none;
	}

	select.tinynav {
		width: 100%;
		margin-bottom: 15px;
	}

	/*8-3-2017*/

	/*15-3-2017*/
	.toll-free {
		float: none;
		display: inline-block;
		margin: 4% 5%;
		width: 90%;
	}

	.new_div {
		margin: 0% 5%;
		width: 90%;
	}

	/*15-3-2017*/
}

@media only screen and (min-width: 240px) and (max-width: 600px) {
	.logo {
		width: 45% !important;
		height: 65px !important
	}

	.logo a img {
		width: 210px;
	}

	#mobnav {
		top: 12px;
		right: 15px;
	}

	.avtar {
		padding: 9px 8px !important
	}

	.avtar i {
		position: static;
	}

	#mainbody {
		margin-top: 65px;
	}

	nav>ul {
		top: 58px;
	}

	.top-right-btn {
		top: 6px;
		right: 45px;
		padding: 0
	}

	.avtar span {
		display: none;
	}

	.alertlist {
		min-width: 290px;
		margin-right: -62px;
		height: 200px;
		overflow: auto;
	}

	#margin-tab .nav>li>a {
		padding: 10px;
	}

	.grid-stack>.grid-stack-item>.grid-stack-item-content {
		position: relative !important;
		top: 0;
		left: 0px;
		right: 0px;
		bottom: 0;
		width: auto;
		z-index: 0 !important;
		overflow-x: hidden;
		overflow-y: auto;
	}

	.grid-stack.grid-stack-one-column-mode>.grid-stack-item {
		height: auto !important;
	}
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.lft_dta ul li p span {
		margin-left: 10px;
	}

	.lft_dta ul li {
		margin-right: 10px;
		font-size: 11px;
	}

	.inf {
		font-size: 10px
	}

	.prfl_img {
		padding-top: 0;
	}

	.bx-1 p {
		font-size: 11px;
	}

	.bx-1 {
		padding: 5px;
	}

	.dta span {
		font-size: 11px;
	}

	.dp .bx1 p {
		font-size: 12px;
	}
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
	.shdaw {
		margin-bottom: 20px !important;
	}
}

@media screen and (max-width:767px) {
	.bx1 ul li a {
		font-size: 15px
	}

	.lft_dta ul {
		display: flex;
		align-items: center;
	}

	.shdaw {
		margin-bottom: 20px;
		padding: 10px;
	}

	.lft_dta ul li {
		width: 42%
	}

	.lft_dta ul li p {
		margin-left: 0;
	}

	.lft_dta ul li p span {
		float: none;
		margin-left: 4px;
	}

	.tll {
		font-size: 11px
	}

	.logo {
		width: 67% !important;
		height: auto !important
	}

	.rgt_in {
		margin: 10px 0;
	}

	.losrs_gains .nav-pills li a {
		font-size: 16px;
		padding: 10px;
	}
}

@media screen and (max-width:767px) {
	.logo {
		width: 80% !important;
		padding: 5px !important;
	}

	.hw_dta {
		width: 83%;
		font-size: 12px;
	}

	ul.sb_mn {
		position: relative;
	}

	nav>ul {
		overflow-x: hidden;
	}

	.side_ang {
		height: 45px;
	}
}

@media screen and (max-width:767px) {
	.logo {
		width: 80% !important;
		padding: 5px !important;
	}

	.hw_dta {
		width: 83%;
		font-size: 12px;
	}

	ul.sb_mn {
		position: relative;
	}

	nav>ul {
		overflow-x: hidden;
	}

	.side_ang {
		height: 45px;
	}
}


/* dashboard responsive */
@media (max-width: 1024px) {
	.row_global {
		gap: 0px;
	}

	.blaze-logo {
		padding: 13px 0px;
	}

	.blaze-logo a img {
		margin-left: 46px !important;
	}

	.custom-col-left {
		width:30%;
	}

	.custom-col-right {
		width:70%;
	}
	.con_middle{
		padding:0!important;
		margin: 0px 0px 15px 0px!important;
	}
	.card-refresh {
		left: 16rem !important;;
	}
	.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{
		padding:3px 5px!important;
	}
}

@media (max-width: 1024px) and (min-width: 768px) {
	.row_global {
		gap: 0px;
	}
	.tabView{
		display: flex;
		align-items: center;
	}
	.topSection{
		display: flex;

	}
	.tikerHide{
		display:none;
	}
	.col-xs-12{
		width: auto;
	}

	.blaze-logo {
		padding: 13px 0px;
	}

	.blaze-logo a img {
		margin-left: 46px !important;
	}

	.custom-col-left {
		width:40%;
	}

	.custom-col-right {
		width:100% !important;;
	}

	.con_middle {
		padding: 0 !important;
		margin: 0px 0px 15px 0px !important;
	}

	.card-refresh {
		left: 16rem !important;
	}

	.table > thead > tr > th,
	.table > tbody > tr > th,
	.table > tfoot > tr > th,
	.table > thead > tr > td,
	.table > tbody > tr > td,
	.table > tfoot > tr > td {
		padding: 3px 5px !important;
	}
	.show-table{
		display:block!important;
		position: relative;
        left: 14rem;
	}

	.blaze-menu-list {
        display: none;
		position: absolute;
        background-image:linear-gradient(to right, #0174BC, #19B68A);
        width: 80%;
        padding: 30px;
        margin: 15px;
        right: 35px;
        top: 34px;
        text-align: center;
        line-height: 2.5;

    }
}

@media (max-width: 1200px) {
	.row_global {
		gap: 0px;
	}

	.blaze-logo {
		padding: 13px 0px;
	}

	.blaze-logo a img {
		margin-left: 46px !important;
	}

	.custom-col-left {
		width: 30%;
	}

	.custom-col-right {
		width: 70%;
	}

	.con_middle {
		padding: 0 !important;
		margin: 0px 0px 15px 0px !important;
	}

	.card-refresh {
		left: 16rem !important;
	}

	.table > thead > tr > th,
	.table > tbody > tr > th,
	.table > tfoot > tr > th,
	.table > thead > tr > td,
	.table > tbody > tr > td,
	.table > tfoot > tr > td {
		padding: 3px 5px !important;
	}
}

