.e-grid
{
border-radius: 3px;
    background: #ffffff;
    padding: 10px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
}
.e-grid .e-gridcontent { /* grid content color*/
  
    color: #666666;
}
.e-grid .e-groupdroparea { /* grid grouped area color*/
    background: #ffaf4e;    
    border-top-color: #bbbcbb;
    color: #fff;
}
.e-grid .e-cloneproperties { /* grid grouped drag cloner color*/
    color: #fff;
    background: #ffaf4e;   
    border-color: #bbbcbb;
}
.e-grid .e-groupcaption, .e-grid .e-groupcaptionsummary { /* grid summary color*/
    background-color: #f6f7f7;
    border-color: #bbbcbb;
}
.e-grid .e-groupcaptionsummary { /* grid summary alignment*/
    text-align: right !important;
}
.e-grid .e-groupheadercell:hover { /* grid grouped header cell hover color*/
    background: #ffbb60;
    color: #fff;
}
.e-grid .e-alt_row { /* grid alternate row color*/
    background: #F5F5F5;
}
.e-grid td.e-active { /* grid selection color and styles*/
    background: #FFC90A;
    color: black;
   
     /* grid selection text align*/
}
.e-grid tr:hover td{ /* grid row hover text align*/
  
}
.e-grid .e-toolbar.e-toolbarspan{
border-width:0px!important;
}
.e-grid .e-headercontent, .e-grid .e-movableheader{
border-right-width:0;
}
.e-grid td.e-active { /* grid header color and grid row select color*/
    background: #FFC90A;
    min-height: 100%;
    border-bottom-color: #FFC90A;
}
.e-gridheader .e-headercell{ /* grid header color and grid row select color*/
    background: #FFFFFF;
    min-height: 100%;
}
.e-grid .e-gridheader { /* grid header font color and styles*/
    color: #666666;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-bottom-color: #ffffff;
    border-top-color: #bbbcbb;
     background: #F0F0F0;
    height: 30px;
}
.e-grid .e-headercelldiv{ /* grid headercell font styles*/
    font-weight:lighter;
    font-size: 13px;
    font-weight:bold;
}
.e-grid .e-alt_row .e-rowcell{ /* grid alternate rows styles*/
   
    /* grid alternate rows text align*/
   
}
.e-grid .e-alt_row .e-rowcell:hover{ /* grid alternate rows styles in hover*/
  
    color:black;
}
.e-grid .e-alt_row:hover .e-rowcell{ /* grid alternate rows text align in hover*/
   
}
.e-grid .e-alt_row .e-rowcell.e-active{ /* grid alternate rows styles in hover*/
   
    color:black;
}
.e-grid .e-groupdroparea.e-hover {  /* grid group hover design*/
    background: #FFC90A;
}
.e-grid tr.e-hover { /* grid row hover color and styles*/
    background: #FFC90A;
    color: black;
  
}
.e-toolbar
{
    
}












